/* Add your custom styles for the dashboard here */
.container {
    margin-top: 2rem;
  }

  :host {
    display: block;
    background-color: #DADCFA; /* Set the background color */
    min-height: 100vh; /* Ensure it covers the full viewport height */
    margin: 0; /* Remove any default margins */
    padding: 0; /* Remove any default padding */
  }
  


  /* Remove border and background for action buttons */
.table .btn {
  border: none;
  background: transparent;
  padding: 0.375rem 0.75rem;  /* Adjust padding if needed */
  font-size: 1.125rem; /* Icon size */
  color: #000; /* Icon color */
}

/* Optional: Add hover effect to make the icon more interactive */
.table .btn:hover {
  color: #007bff;  /* Change color on hover */
}

/* Custom styling for the pagination */
.pagination .page-item .page-link {
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s;
}

.pagination .page-item .page-link:hover {
  background-color: #007bff; /* Blue color for hover effect */
  color: #ffffff; /* White text when hovered */
  transform: scale(1.1); /* Slight zoom effect on hover */
}

.pagination .page-item.active .page-link {
  background-color: #007bff; /* Active page button with blue background */
  color: #ffffff; /* White text */
}

.pagination .page-item.disabled .page-link {
  color: #6c757d; /* Disabled button color */
  pointer-events: none; /* Disable clicking on the previous/next when disabled */
}

.pagination {
  font-family: 'Arial', sans-serif;
}


.filter-container {
  display: flex;
  justify-content: flex-end; 
  position: relative;
}

.filter-dropdown {
  position: absolute;
  top: 100%; /* Makes it appear below the filter button */
  right: 0; /* Aligns it to the right of the filter button */
  width: 200px; /* Or any suitable width */
  background-color: #fff; /* Optional, for better visibility */
  border: 1px solid #ccc; /* Optional, adds border */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional, for shadow */
  z-index: 1000; /* Ensures it stays on top of other elements */
}
.filter-option {
  margin-bottom: 8px; /* Add spacing between filter options */
}



/* Custom Transparent Colors */
.bg-transparent-purple {
  background-color: rgba(111, 66, 193, 0.7); /* Violet with 30% opacity */
}

.bg-transparent-pink {
  background-color: rgba(232, 62, 140, 0.7); /* Pink with 30% opacity */
}

.bg-transparent-yellow {
  background-color: rgba(255, 193, 7, 0.7); /* Yellow with 30% opacity */
}


